html,
body {
    /* resetando o body */
    width: 100%;
    max-width: 100vw;
    /* 100 view width */
    height: 100%;
    padding: 0;
    margin: 0;
}

/* #161b22; */

/* #0d1117 */

body {

    background: #0d1117;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #0d1117;
}

section {
    display: block
}

.section {
    padding: 70px 0;
    position: relative;
    background: #0d1117;
}

.section .row+.category {
    margin-top: 15px;
}

.section {
    padding-bottom: 0;
}

.image-container {
    background-color: #161b22;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
}

.image-container>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.text-content {
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}

.text-titu {
    color: #32a6f9;
}

.card-title {
    font-family: "Roboto Mono", monospace;
    color: #f2e595;
    font-size: 20px;
}

.card-body {
    background-color: #010409;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: #e2d8d8;
}

.card {
    padding: 0px;
    background-color: #161b22;
}

/* Education Style */
.cc-education .h5 {
    margin-bottom: 0;
}

.cc-education .cc-education-header {
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
    color: #fff;
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-body {
    min-height: 100px;
}

.text-code {
    color: #FFFFFF;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.code-var {
    color: #637fd4;
}